/* inter-regular - latin */
/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-600italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/inter-v20-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  html {
    box-sizing: border-box;
    background-color: #E1D4C9;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  body {
    margin: 0 auto;
  }
  .header {
    margin-top: 20px; 
    margin-bottom: 20px;
  }
  .wrapper {
    margin-left: 40px;
    margin-right: 40px;
  }
  .header__wrapper {
    max-width: 1360px;
    max-height: 60px;
    margin: 0 auto;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    justify-content: space-between;
  }
.header__list {
    list-style: none;
}
.header__link {
    text-decoration: none;
    color: #403F3D;
}
.header__list {
    display: flex;
    flex-wrap: wrap;
}
.header__item {
    margin-right: 40px;
}
.header__item:last-child {
    margin-right: 0;
}
.header__action {
    display: flex;
    justify-content:center;
    margin: 8px 0;
    max-height: 44px;
    max-width: 184px;
}
.header__action-coffe {
    display: flex;
    justify-content: end;
    margin-left: 24px;
    align-items: center;
}
.header__coffe-pic {
    margin-left: 8px;
    max-width: 20px;
    max-height: 20px;
}
.header__coffe-link {
    text-decoration: none;
    color: #403F3D;
}

  /* Переключатель темы start */
.theme-switch input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
 
  .theme-switch {
    display: flex;
    align-items: center;
    max-width: 88px;
    max-height: 44px;
    border: 2px solid #b9aaa0;
    border-radius: 50px;
    padding: 4px;
  }
  
  .theme-option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #333;
    font-size: 42px;
    cursor: pointer;
    transition: 0.3s;
  }
  .moon {
    margin-left: 8px;
  }
  .sun {
    background: #b59682;
    color: white;
  }
  #dark:checked + .moon {
    background: #403F3D;
    color: white;
  }
 
  #dark:checked ~ .sun {
    background: transparent;
    color: #333;
  }
   /* Переключатель темы end */

   /* Hero section start */
   .hero {
    max-width: 1360px;
    max-height: 644px;
    padding: 100px;
    border-radius: 40px;
    background-image: url(../img/jpg/img-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }
   .hero__offer {
    display: flex;
    max-height: 444px;
    max-width: 530px;
    flex-direction: column;
   }
   .hero__title {
    margin-bottom: 40px;
   }
   
   .hero__title-text {
    font-family: Inter;
    font-weight: 600;
    font-size: 72px;
    line-height: 105%;
    color: #E1D4C9;
    margin: 0 auto;
   }
   .hero__title-text-italic {
    font-style: italic;
    color: #B0907A;
   }
   .hero__description {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #E1D4C9;
    margin-bottom: 40px;
    max-width: 530px;
    max-height: 72px;
    margin-top: 0px;
   }
 .hero__description-text {
    margin: 0px;
   }
   .hero {
    margin: 0 auto;
   }
   .hero__button {
    width: 200px;
    height: 64px;
    border-radius: 100px;
    background-color: #E1D4C9;
   }
   .hero__offer-button-text {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #403F3D;
   }
   /* Hero section end */

   /* Slider section start */
   .favorite-coffee {
   margin: 0 auto;
   max-width: 1440px;
    max-height: 799px;
   }
   .wrapper-line {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
    max-height: 799px;
   }
   .slider__title-text {
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
    max-height: 75px;
    margin: 0 auto;
   }
   .slider__title-text-italic {
font-style: italic;
    color: #B0907A;
   }
   .slider {
    display: flex;
    align-items: center;
    width: min(100%, 1360px);
  height: min(100vh, 799px);
  justify-content: space-between;

   }
   .arrow {
    width: 60px;
    height: 60px;
    border-radius: 100%;
   }
   #coffeeImage {
    object-fit: contain;
  filter: drop-shadow(0 12px 8px rgba(70, 45, 30, 0.25));
   }
   .coffeeTitle {
   font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
    margin-top: 20px;
    margin-bottom: 16px;
   }
   .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .coffeeDescription {
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
    color: #403F3D;
    margin-top: 0px;
    margin-bottom: 16px;
   }
   .coffeePrice {
font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
   }
   .about {
    margin: 0 auto;
    max-width: 1440px;
    max-height: 1325px;
    border: 2px solid red;
   }
   .wrapper-about {
    display: flex;
    align-items: center;
    flex-direction: column;
   }
   .about__text {
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
    margin-top: 0;
    margin-bottom: 40px;
   }
.about__text-italic {
    font-style: italic;
    color: #B0907A;
}






.about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    max-width: 1360px;
    margin: 0 auto;
}

.about__column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about__column img {
    display: block;
    /* width: 100%; */
    object-fit: cover;
    border-radius: 20px;
}

/* Первый столбик: 1 и 3 */
.about__first-img {
    height: 590px;
    width: 660px;
}

.about__three-img {
    height: 430px;
    width: 660px;
}

/* Второй столбик: 2 и 4 */
.about__second-img {
    height: 430px;
    width: 660px;
}

.about__four-img {
    height: 590px;
    width: 660px;
}
